html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  min-height: 101vh;
  /* So the scrollbar doesn't make the page jump, when we add the items */
}

/* Title */

.hacker-news {
  margin: 3rem auto;
  text-align: center;
}

.hacker-news h2 {
  font-size: 4rem;
  margin: 0;
}

.hacker-news p {
  font-size: 1.5rem;
  color: grey;
  margin-top: 0.5rem;
}

/* Spinner */

#spinner {
  width: 20rem;
  height: 20rem;
  margin: 10rem auto;
  background-color: #333;
  border-radius: 100%;

  cursor: pointer;
  font-size: 3.5rem;
  text-align: center;
  line-height: 20rem;
  color: white;
}

.loading {
  -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
  animation: sk-scaleout 2.0s infinite ease-in-out;
}

/*Animations from http://tobiasahlin.com/spinkit/ */
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Articles */
#article-list {
  margin: 0 auto;
  width: 100%;
  max-width: 60rem;
}

.article {
  width: 100%;
  padding: 1rem;
  position: relative;

  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.article h2 {
  font-size: 2.5rem;
  margin: 0;
}

.article p {
  font-size: 1.5rem;
  margin: 0;
}

.article a span {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.article:hover {
  background-color: rgba(128,128,128,0.1);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
